ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FFA07A;
}



.button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #000000;
      background-color: #FFA07A;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #000000;
    }
    .button:hover {background-color: #FFA07A}
    .button:active {
      background-color: #CD5C5C;
      box-shadow: 0 5px #000000;
      transform: translateY(4px);
}